:root {
  --device__width: 1080;
  --device__height: 1700;
  --device__aspect-ratio: calc(var(--device__width) / var(--device__height));
  --device__top-bar__height: calc(64 / var(--device__height));
  --device__bottom-bar__height: calc(128 / var(--device__height));
  --app__header__height: calc(144 / var(--device__height));
  --app__control--big__size: calc(192 / var(--device__height));
  --app__control--small__size: calc(128 / var(--device__height));

  --app__item__radius: calc(32 / var(--device__height));

  --app__item__margin: calc(32 / var(--device__height));
  --app__item__details__padding: calc(32 / var(--device__height));
  --app__header__margin: calc(48 / var(--device__height));
  --app__control__padding: calc(32 / var(--device__height));
  --app__control__line: calc(16 / var(--device__height));
  --app__action__padding: calc(32 / var(--device__height));
  --app__action__border: calc(10 / var(--device__height));
  --app__action__size: calc(72 / var(--device__height));
  --app__action__offset: calc(96 / var(--device__height));
  --app__action__rotation: 15deg;
  --app__font__size: calc(48 / var(--device__height));
  --app__font__size--small: 0.7em;
}
:root {
  --device_background-color: black;
  --app__text__color: hsla(0, 0%, 30%, 1);
  --app__background__color: hsla(0, 0%, 95%, 1);
  --app__header__color: hsla(0, 0%, 100%, 1);
  --app__item__color: hsla(0, 0%, 100%, 1);
  --app__control__color: hsla(0, 0%, 100%, 1);
  --app__shadow: 0 4px 4px hsla(0, 0%, 0%, 0.05);
  --app__action--nope__color: hsla(10, 100%, 60%, 1);
  --app__action--like__color: hsla(170, 100%, 45%, 1);;
  --app__action--superlike__color: hsla(200, 100%, 50%, 1);
  --app__control--undo__color: hsla(45, 100%, 50%, 1);
  --app__details__control__background: linear-gradient(0deg, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 0.5) 70%, hsla(0, 0%, 100%, 0));
  --app__details__distance__color: hsla(0, 0%, 0%, 0.34);

}
* {
  box-sizing: border-box;
}
a {
  color: initial;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Nunito Sans', sans-serif;
  font-size: calc(var(--app__font__size) * 100vh);
  color: var(--app__text__color);
  background-color: var(--device_background-color);
}
.tinderforbananas {
  position: relative;
  display: flex;
  height: 100%;
  width: calc(var(--device__aspect-ratio) * 100vh);
  max-width: calc(var(--device__aspect-ratio) * 100vh);
  flex-direction: column;
  background-color: var(--app__background__color);

  overflow: hidden;
}
.tinderforbananas header {
  flex-shrink: 0;
  height: calc(var(--app__header__height) * 100vh);
  background-color: var(--app__header__color);
  box-shadow: var(--app__shadow);
  margin-bottom: calc(var(--app__header__margin) * 100vh);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tinderforbananas header p {
  margin: 0;
}
.tinderforbananas header .copyright {
  font-size: 0.5em;
}
.tinderforbananas .view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
.tinderforbananas .view--swipelist .item {
  border-radius: calc(var(--app__item__radius) * 100vh);
  background-color: var(--app__item__color);
  margin: 0 calc(var(--app__item__margin) * 100vh);
  box-shadow: var(--app__shadow);
  will-change: transform;
  overflow: hidden;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.tinderforbananas .view--swipelist .item picture {
  position: relative;
  width: 100%;
  flex-grow: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.tinderforbananas .view--swipelist .item picture:before {
  content: '';
  display: block;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 100%;
}

.tinderforbananas .view--details .item__details,
.tinderforbananas .view--swipelist .item__details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  padding: calc(var(--app__item__details__padding) * 100vh);
}
.tinderforbananas .view--details .item__details {
  flex-grow: 0;
  flex-shrink: 0;
}
.tinderforbananas .view--swipelist .item .action {
  position: absolute;
  font-size: calc(var(--app__action__size) * 100vh);
  text-transform: uppercase;
  border: calc(var(--app__action__border) * 100vh) solid black;
  border-radius: calc(var(--app__action__border) * 100vh);
  padding: calc(var(--app__action__padding) * 100vh / 2) calc(var(--app__action__padding) * 100vh);
  text-align: center;
  transform-origin: 50% 50%;
  will-change: opacity;
  opacity: 0;
}
.tinderforbananas .view--swipelist .item .action--nope {
  right: calc(var(--app__action__offset) * 100vh);
  top: calc(var(--app__action__offset) * 100vh);
  color: var(--app__action--nope__color);
  border-color: var(--app__action--nope__color);
  transform: rotate(calc(var(--app__action__rotation) * 1));
}
.tinderforbananas .view--swipelist .item .action--like {
  left: calc(var(--app__action__offset) * 100vh);
  top: calc(var(--app__action__offset) * 100vh);
  color: var(--app__action--like__color);
  border-color: var(--app__action--like__color);
  transform: rotate(calc(var(--app__action__rotation) * -1));
}
.tinderforbananas .view--swipelist .item .action--superlike {
  bottom: calc(var(--app__action__offset) * 100vh);
  left: 50%;
  transform: rotate(calc(var(--app__action__rotation) * -1)) translateX(-50%) ;
  color: var(--app__action--superlike__color);
  border-color: var(--app__action--superlike__color);
}
.hidden {
  display: none !important;
}
.tinderforbananas .view--swipelist .item__details,
.tinderforbananas .view--swipelist nav {
  opacity: 1;
  transition: opacity 0.15s ease-in-out; 
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;  
}
.tinderforbananas .view--swipelist.overlaid picture {
  visibility: hidden;
}
.tinderforbananas .view--swipelist.overlaid .item__details,
.tinderforbananas .view--swipelist.overlaid nav {
  opacity: 0;
}
.tinderforbananas .view--swipelist + .view--details section,
.tinderforbananas .view--swipelist + .view--details nav {
  transition: transform 0.15s ease-in-out;
}
.tinderforbananas .view--swipelist.overlaid + .view--details section,
.tinderforbananas .view--swipelist.overlaid + .view--details nav {
  transform: translateY(50vh);
}
.tinderforbananas .view--swipelist__controls {
  margin-top: auto;
}
.tinderforbananas .view--swipelist__controls,
.tinderforbananas .view--details__controls {
  padding: calc(var(--app__control__padding) * 100vh);

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tinderforbananas .view--details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.tinderforbananas .view--details__controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: var(--app__details__control__background);
}
.tinderforbananas .control {
  border-radius: 50%;
  background-color: var(--app__control__color);
  box-shadow: var(--app__shadow);
  border: 0;
  padding: 0;
}
.tinderforbananas .control svg {
  width: 100%;
  height: 100%;
  stroke-linecap: round;
  /* Fallback for Safari */
  stroke-width: 8px;
  stroke-width: calc(var(--app__control__line) * 100vh);
  stroke-linejoin: round;
}
.tinderforbananas .control--big {
  width: calc(var(--app__control--big__size) * 100vh);
  height: calc(var(--app__control--big__size) * 100vh);
}
.tinderforbananas .control--small {
  width: calc(var(--app__control--small__size) * 100vh);
  height: calc(var(--app__control--small__size) * 100vh);
}
.tinderforbananas .control--nope svg {
  stroke: var(--app__action--nope__color);
  fill: var(--app__action--nope__color);
}
.tinderforbananas .control--like svg {
  stroke: var(--app__action--like__color);
  fill: var(--app__action--like__color);
}
.tinderforbananas .control--superlike svg {
  stroke: var(--app__action--superlike__color);
  fill: var(--app__action--superlike__color);
}
.tinderforbananas .control--undo svg {
  stroke: var(--app__control--undo__color);
  fill: var(--app__control--undo__color);
}
.tinderforbananas .control--inverted svg {
  stroke: var(--app__control__color);
  fill: var(--app__control__color);
}
.tinderforbananas .control--inverted.control--like {
  background-color: var(--app__action--like__color);
}
.tinderforbananas .control--inverted.control--nope {
  background-color: var(--app__action--nope__color);
}
.tinderforbananas .control--inverted.control--superlike {
  background-color: var(--app__action--superlike__color);
}
tinderforbananas-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.tinderforbananas .item__details__name {
  font-weight: 700;
}
.tinderforbananas .item__details__age {
  margin-left: 0.2em;
}
.tinderforbananas .item__details__job,
.tinderforbananas .item__details__distance {
  font-size: var(--app__font__size--small);
  flex-basis: 100%;
}
.tinderforbananas .item__details__distance {
  color: var(--app__details__distance__color);
}
.tinderforbananas .view--details .description,
.tinderforbananas .view--details .item__details {
  background-color: var(--app__item__color);
}
.tinderforbananas .view--details .description {
  flex-grow: 1;
  border-top: 1px solid var(--app__details__distance__color);
  font-size: var(--app__font__size--small);
  padding: calc(var(--app__item__details__padding) * 100vh);
  padding-bottom: calc((var(--app__control--big__size) + 2 * var(--app__control__padding))* 100vh)
}
tinderforbananas-carousel {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  overflow: hidden;
}
tinderforbananas-carousel:before {
  content: '';
  width: 100%;
  display: block;
  opacity: 0;
  pointer-events: none;
  padding-bottom: 100%;
}
tinderforbananas-carousel .carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
